.spinnerContainer {
    margin: auto;
    text-align: center;
}

.editCheckbox {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.profileMain {
    display: flex;
    justify-content: space-evenly;
    padding: 3rem;
    font-family: var(--monserrat);
}

.profileForm {
    text-align: center;

    width: var(--max-width);
    gap: 0.5rem;
    margin-bottom: 8px;

}

@media (max-width: 375px) {
    .profileMain {
        padding: 0px;
    }
}