.spinnerContainer {
    margin: auto;
    text-align: center;
}

.main {
    flex-direction: column;
    padding: 10rem;
    align-self: center;
    align-items: center;
    font-family: var(--monserrat);
    display: flex;
}
.editCheckbox{
    display: flex;
    width: 100%;
    justify-content: space-between;
}